.nav-container{
	padding:0;
	margin:0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: var(--black);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.nav-bar{
	padding:0;
	margin:0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-family: var(--mainFont);
	font-size: 1rem;
	position: relative;
	height: var(--navBarHeight);
	gap:3em;
}

.nav-bar a{
	text-decoration: none;
}

.nav-item{
	margin:0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
	text-align: center;
	height: 3.5rem;
	position: relative;
}

.nav-text{
	padding:0;
	margin: 0;
	display: block;
	position:absolute;
	transform: scale(0.1);
	opacity: 0;
	transition:var(--navSpeed) linear;
	color:var(--majorAccentCol);
	font-size: 1.1em;
	white-space: nowrap;
}

.nav-icon{
	padding:0;
	margin:0;
	font-size: 1.5em;
	color:var(--white);
	position: absolute;
	transition:var(--navSpeed) linear;
}

.nav-item:hover > .nav-text{
	display: block;
	transform: scale(1);
	opacity: 1;
}

.nav-item:hover > .nav-icon{
	display: block;
	transform: scale(0.1);
	opacity: 0.1;
}