.welcome-container{
	justify-content: center;
}

.welcome-hero{
	position: relative;
	font-family: var(--mainFont);
	font-size: 1.5em;
}

.code-start, .code-end{
	display: inline-block;
	font-size: 2em;
	padding: 0 0.5em;
	color: var(--minorAccentCol);
	font-weight: 900;
}

.code-start{
	transform: translateX(5.5em);
	animation: code-start 2000ms ease-in forwards;
}

.code-end{
	transform: translateX(-5.5em);
	animation: code-end 2000ms ease-in forwards;
}

@keyframes code-start {
	0%{opacity: 1; transform: translateX(5.5em);}
	10%{opacity: 0; transform: translateX(5.5em);}
	20%{opacity: 1; transform: translateX(5.5em);}
	30%{opacity: 0; transform: translateX(5.5em);}
	40%{opacity: 1; transform: translateX(5.5em);}
	50%{opacity: 0; transform: translateX(5.5em);}
	60%{opacity: 1; transform: translateX(5.5em);}
	80%{transform: translateX(0);}
	100%{transform: translateX(0);}
}

@keyframes code-end {
	0%{opacity: 1; transform: translateX(-5.5em);}
	10%{opacity: 0; transform: translateX(-5.5em);}
	20%{opacity: 1; transform: translateX(-5.5em);}
	30%{opacity: 0; transform: translateX(-5.5em);}
	40%{opacity: 1; transform: translateX(-5.5em);}
	50%{opacity: 0; transform: translateX(-5.5em);}
	60%{opacity: 1; transform: translateX(-5.5em);}
	80%{transform: translateX(0);}
	100%{transform: translateX(0);}
}

@keyframes name-open {
	0%{opacity: 0;}
	60%{opacity: 0;}
	100%{opacity: 1;}
}

.welcome-hero h1{
	display: inline-block;
	font-weight: 900;
	opacity: 0;
	animation: name-open 800ms linear forwards 1000ms;
}

.welcome-subtext{
	display: block;
	position: absolute;
	bottom:30%;
	font-family: var(--mainFont);
	font-size: 1.5em;
	text-align: left;
}

.welcome-subtext::before{
	content: '';
	width: 1em;
	height: 100%;
	background-color: var(--minorAccentCol);
	display: block;
	position: absolute;
	top: 0;
	animation: subtext 500ms linear forwards 1800ms;
}

.welcome-subtext::after{
	content: '';
	width: 10em;
	height: 100%;
	background-color: white;
	display: block;
	position: absolute;
	top: 0;
	transform-origin: right;
	animation: subtext-cover 500ms linear forwards 1800ms;
}

.welcome-subtext-fun{
	display: block;
	position: absolute;
	bottom:30%;
	font-family: var(--mainFont);
	font-size: 1.5em;
	text-align: left;

	bottom:20%;
	text-align: right;
}

.welcome-subtext-fun::before{
	content: '';
	width: 1em;
	height: 100%;
	background-color: var(--minorAccentCol);
	display: block;
	position: absolute;
	top: 0;
	animation: subtext-fun 500ms linear forwards 2200ms;
}

.welcome-subtext-fun::after{
	content: '';
	width: 13em;
	height: 100%;
	background-color: white;
	display: block;
	position: absolute;
	top: 0;
	transform-origin: right;
	animation: subtext-fun-cover 500ms linear forwards 2200ms;
}

.welcome-evil{
	color:var(--minorAccentCol);
}

@keyframes subtext {
	from{transform: translateX(-2em);}
	to{transform: translateX(10em);}
}

@keyframes subtext-cover {
	from{transform: scaleX(1);}
	to{transform: scaleX(0.3) translateX(10em);}
}

@keyframes subtext-fun {
	from{transform: translateX(-2em);}
	to{transform: translateX(13em);}
}

@keyframes subtext-fun-cover {
	from{transform: scaleX(1);}
	to{transform: scaleX(0.3) translateX(12em);}
}